{% extends "gallery/base.html" %}

{% block content %}
<!-- +++++ GENERIC TEXT PAGE STARTS +++++ -->
<h1>Frequently Asked Questions</h1>
<a name="top"></a>
<p><a href="#images_selected">HOW ARE IMAGES SELECTED FOR INCLUSION IN THE MEDIA GALLERY?</a><br />
<a href="#contribute">HOW DO I CONTRIBUTE IMAGES TO THE MEDIA GALLERY?</a><br />
<a href="#submission">HOW LONG WILL IT TAKE FOR MY SUBMISSIONS TO BE REVIEWED?</a><br />
<a href="#additional-info">HOW CAN I PROVIDE ADDITIONAL IMAGE CAPTION INFORMATION OR UPDATES?</a><br />
<a href="#update-info">HOW CAN I UPDATE MY IMAGE CAPTION INFORMATION AFTER UPLOADING?</a><br />
<a href="#old-account">WILL MY OLD IMAGE GALLERY ACCOUNT WORK WITH THE NEW SITE?</a><br />
<a href="#resizing">DO I STILL NEED TO GO THROUGH THE HELLISH IMAGE RESIZING PROCESS?</a><br />
<a href="#batch-upload">CAN I UPLOAD MORE THAN ONE PHOTO AT A TIME?</a><br />
<a href="#curated">WHY IS THE MEDIA GALLERY CURATED?</a><br />
<a href="#selected">WHY DIDN'T MY PHOTO GET SELECTED FOR THE PUBLIC COLLECTION?</a><br />
<a href="#video">CAN I ADD VIDEOS TO THE MEDIA GALLERY?</a><br />
<a href="#password">WHAT SHOULD I DO IF I LOSE MY PASSWORD?</a><br />
<a href="#artifacts">WHAT HAPPENED TO THE PLAYA ARTIFACTS SITE?</a><br />
<a href="#scaled-small">WHY ARE THE IMAGES SCALED SO SMALL?</a><br />
<a href="#press">I'M A MEMBER OF THE PRESS AND WOULD LIKE TO OBTAIN HIGH-RESOLUTION IMAGES FOR PRESS USE?</a><br />
<a href="#privacy">WHAT IS THE PRIVACY POLICY WITH REGARDS TO SUBMITTED MEDIA?</a><br />
<a href="#publication">WHAT DO I DO IF I WANT TO USE AN IMAGE HER FOR PUBLICATION, REPRODUCTION, OR CREATIVE PURPOSES?</a><br />
<a href="#geek">I'M A GEEK, NOT A PHOTOGRAPHER, HOW CAN I CONTRIBUTE?</a><br />
<a href="#credits">WHO CREATED THE MEDIA GALLERY?</a><br />
<a href="#support">HOW DO I CONTACT THE MEDIA GALLERY TEAM FOR SUPPORT OR SUGGESTIONS?</a><br /></p>

<a name="images_selected"></a>
<h2>HOW ARE IMAGES SELECTED FOR INCLUSION IN THE MEDIA GALLERY?</h2><a href="#top">back to top</a>

<p>Attractive, well-composed, and unique photos of art, events, and ephemera from official community activities are selected from submissions to this gallery. Curators choose beautiful images that document art installations, theme camps, mutant vehicles, performances, compelling playa moments and unique perspectives. We are also seeking exceptional images from official Burning Man year-round gatherings, such as Decompression or Regional Network community events, and representations of civic projects supported by the Black Rock Arts Foundation, Burners Without Borders, and Black Rock Solar.</p>
<p>Note: even if your photos are not selected for the gallery, all submitted images are retained as a valuable part of our digital archives, and we thank you for taking the time and effort to submit your images.</p>
<a name="contribute"></a>
<h2>HOW DO I CONTRIBUTE IMAGES TO THE MEDIA GALLERY?</h2><a href="#top">back to top</a>

<p>First, read about the &ldquo;<a href="#images_selected">How are images selected ...</a>&rdquo; section above.</p>
<p>Second, either login in with your account information from our original image gallery, or  <a href="/register">register a new account</a> on our media gallery site, and the system will create a contributor account for you. When you log into your account, an &ldquo;upload&rdquo; button will be available.</p>
<p>Next to the upload button is another button labeled &ldquo;My Unsubmitted.&rdquo; Clicking this button will allow you to see all links to your saved image batches. Click on the batch link that contains the images you'd like to submit. After entering your meta information for each image (title, year, notes, etc.), then simply click the &ldquo;Save and Submit&rdquo; button located at the top or bottom of the &ldquo;Editing Information for Batch ...&rdquo; detail view. A note will then appear at the top of the page indicating your batch has been submitted to the curation team. Note, there is no way to retract a submitted batch, so be sure you want to commit all images contained within.
<p>Once your images are reviewed, and possibly selected for the public gallery by our curation team, they will then show up in website searches, and also under your name in the Contributors Directory.</p>
<p>As you submit media files, please credit art, mutant vehicles and installation names to their respective artists.   Archived artists listings can be found here:</p>
<ul>
	<li><a href="http://www.burningman.com/installations/index.html" target="_blank">Art Installations</a></li>
	<li><a href="http://www.burningman.com/whatisburningman/event_archives.html" target="_blank">What is Burning Man</a></li>
</ul>
<a name="submission"></a>
<h2>HOW LONG WILL IT TAKE FOR MY SUBMISSIONS TO BE REVIEWED?</h2>
<a href="#top">back to top</a>
<p>Your mileage will vary and so will our availbility to review submissions. Note: when images are submitted without thorough captions and accreditation, the moderation process will take longer.</p>

<a name="additional-info"></a>
<h2>HOW CAN I PROVIDE ADDITIONAL IMAGE CAPTION INFORMATION OR UPDATES?</h2><a href="#top">back to top</a>
<p>We do our best to provide credit to theme camp/art contributors. If you have corrections or additions, please email <a href="mailto:galleries@burningman.com">galleries@burningman.com</a>.</p>
<a name="update-info"></a>
<h2>HOW CAN I UPDATE MY IMAGE CAPTION INFORMATION AFTER UPLOADING?</h2><a href="#top">back to top</a>
<p>After logging into your account, click the &ldquo;my unsubmitted&rdquo; button to go to a view of your &ldquo;unsubmitted&rdquo; batch links (that contain your uploaded images). Clicking on a batch link will take you into a view of all the images it contains and you can utilize the meta fields (title, year, keywords) to update information.</p>
<p>Note, if you've already submitted a batch to the curation team, i.e. clicked the &ldquo;save and submit&rdquo; button, then there is no way to update caption information except by emailing <a href="mailto:galleries@burningman.com">mailto:galleries@burningman.com</a> with the corresponding info and a link to the image(s) in question.</p>
<a name="old-account"></a>
<h2>WILL MY OLD IMAGE GALLERY ACCOUNT WORK WITH THE NEW SITE?</h2>
<a href="#top">back to top</a>
<p>Yes, we have moved all user accounts from the previous site, and you should be able to login.  If not, please send your contact details to the <a heref="#support">support address listed below</a>.</p>
<a name="resizing"></a>
<h2>DO I STILL NEED TO GO THROUGH THE HELLISH IMAGE RESIZING PROCESS?</h2>
<a href="#top">back to top</a>
<p>NO! The new image gallery handles all of this for you!</p>
<a name="batch-upload"></a>
<h2>CAN I UPLOAD MORE THAN ONE PHOTO AT A TIME?</h2>
<a href="#top">back to top</a>
<p>Yes! Our new batch upload feature allows you to upload multiple images at once. When you're logged in, simply click the &ldquo;upload&rdquo; button, and then use the &ldquo;add files&rdquo; button to add additional images. Note, you will subsequently be asked to enter meta information for each image uploaded.</p>

<a name="curated"></a>
<h2>WHY IS THE MEDIA GALLERY CURATED?</h2>
<a href="#top">back to top</a>
<p>We like to think of this gallery and the collection of items as an on-line museum. During the review and selection process, we endeavor to include as much accurate information about the subject matter as possible. In addition to being an official archive for The Burning Man Project, this is also an important communication mechanism to would-be participants, the general public and public agencies. This collection is not intended to be a photo sharing service. Yes, your campmate may be quite adorable while crashed out wearing a tutu after a late night, but we are pretty sure that you can find a few other places on the Internet to show that picture.</p>
<a name="selected"></a>
<h2>WHY DIDN'T MY PHOTO GET SELECTED FOR THE PUBLIC COLLECTION?</h2>
<a href="#top">back to top</a>
<p>First, read about the "<a hrefe="#images_selected">How are images selected ...</a>" section above.</p>

<p>There may be any number of reasons why a photo does not get selected. If your photo is out of focus, covered in dusty playa spots, haphazardly composed, contains explicit adult content, illegal activities, or subject matter not likely to be of interest to the larger community or visiting public, we will most likely not include it. In addition, an effort is made to keep the number of practically identical duplicate mages to a minimum. For example, you may have a lovely shot of The Man burning, but we may already have several similar shots already included in the gallery. It is a good idea to browse the collection and search for similar subject matter before submitting your images.</p>
<a name="video"></a>
<h2>CAN I ADD VIDEOS TO THE MEDIA GALLERY?</h2>
<a href="#top">back to top</a>
<p>The Video Gallery will be a hand-picked selection of video offerings about Burning Man and its worldwide community. While we love participant video, plenty of sharing websites exist for such content, so we do not seek to re-create that here. Instead, we'll use it to exhibit curated content from the Burning Man archives as well as works produced by Burning Man or other select filmmakers.</p>
<a name="password"></a>
<h2>WHAT SHOULD I DO IF I LOSE MY PASSWORD?</h2>
<a href="#top">back to top</a>
<p>If you lose your password, go to the <a href="/register">login page</a>, and click the &ldquo;lost password&rdquo; link to reset your password.   If you forget which email you used for registration, then send your full name, and any other helpful hints to the [support-email-address] below, and we send you your registration-email-address. From there, you can use the &ldquo;lost password&rdquo; link to retrieve your info.</p>

<p>Note: It is important to keep your e-mail address up to date so you can manage your photographer account.</p>
<a name="artifacts"></a>
<h2>WHAT HAPPENED TO THE PLAYA ARTIFACTS SITE?</h2>
<a href="#top">back to top</a>
<p>The Playa Artifacts image archive has been merged into our new media gallery, and all artifact images are now available under the &ldquo;media type&rdquo; dropdown menu.</p>
<a name="scaled-small"></a>
<h2>WHY ARE THE IMAGES SCALED SO SMALL?</h2>
<a href="#top">back to top</a>
<p>In recreating the image gallery, we imported all images from the previous gallery.  The former gallery had scaled images to accommodate technical limitations that existed as part of that system. While we have no way to provide larger versions of those images, moving forward, uploaded images should be viewable at a larger size.</p>
<a name="press"></a>
<h2>I'M A MEMBER OF THE PRESS AND WOULD LIKE TO OBTAIN HIGH-RESOLUTION IMAGES FOR PRESS USE?</h2>
<a href="#top">back to top</a>
<p>We do have a press image archive available, but you should first <a href="http://www.burningman.com/press/">contact the media communications team to request access</a></p>
<a name="privacy"></a>
<h2>WHAT IS THE PRIVACY POLICY WITH REGARDS TO SUBMITTED MEDIA?</h2>
<a href="#top">back to top</a>
<p>Whenever you submit expressive content to the Media Gallery, Tales from the Playa, or ePlaya, you understand that the submission will possibly be made public on the web site, and that such submission may contain personal information. The Media Gallery includes a link to each photographer and contributor's email address so that interested parties may contact them to request permission to utilize their submissions in other mediums or publications. We are not responsible for the personal information that you or others choose to post in this manner. You may be identified as the author of any posted expressive content unless you request otherwise.</p>
<a name="publication"></a>
<h2>WHAT DO I DO IF I WANT TO USE AN IMAGE HERE FOR PUBLICATION, REPRODUCTION, OR CREATIVE PURPOSES?</h2>
<a href="#top">back to top</a>
<p>All images in the Galleries are copyright in their respective year, by both the photographer and Burning Man. For publication or other image use requests, contact the photographer or contributor at the email provided, and <a herf="mailto: press@burningman.com"> press@burningman.com</a> for written permission. Burning Man cannot grant permission to you to publish these images without the additional permission of the individual photographer or contributor. Burning Man does not grant permission for the use of images from the event for the purposes of advertising or commercial promotion. For more information, visit:</p>

<p><a href="http://www.burningman.com/press/">http://www.burningman.com/press/</a></p>
<a name="geek"></a>
<h2>I'M A GEEK, NOT A PHOTOGRAPHER, HOW CAN I CONTRIBUTE?</h2>
<a href="#top">back to top</a>
<p>This gallery software was custom written using Django and Python. There are still many features that we would like to see added. In the spirit of our gift economy, we will post this code and a task list on our <a href="http://code.burningman.com">http://code.burningman.com</a> site. You are free to reuse and enhance the code as you wish, and we hope that you’ll help gift back to the community through software contributions. You may even make a few geek and photographer friends along the way.</p>

<a name="credits"></a>
<h2>WHO CREATED THE MEDIA GALLERY?</h2>
<a href="#top">back to top</a>
<p>Collaboratively, Burning Man volunteers created this application to benefit the Burning Man community and help create a collection of images that visually communicate the spirit of Burning Man. Particularly, we would like to thank the following:

<p>
<b>Big Meow:</b> Marian Goodell<br />
<b>Burning Man Head Geek:</b> CameraGirl (Heather Gallagher)<br />
<b>Media Curation:</b> CameraGirl, John Mosbaugh, and others<br />
<b>Project Management:</b> Brian Berlin (Brian Forsyth)<br />
<b>Design &amp; Front-end Developement:</b> Loopy (Calliope Gazetas)<br />
<b>Development:</b> Ra (Rob Miller), Trespass (Zachary Cole), Ross Patterson<br />
<b>Testing:</b> Anthony Peterson, Bill Klemens, Henry Lynne, Todd Gardiner, Scott Platsky<br />
<b>Copy:</b> CameraGirl, ActionGrl (Andie Grace), Brian Berlin<br />
<b>System Administration:</b> Cat Fougere, Eric Haugen, Craig Steinberger<br />
<b>Geeky Input and Support:</b> Nelz (Nelson Carpentier), Uhura (Alex Bernardin), Michael Barbarino, Masha Oguinskaia, Paulski (Paul Gutoski), Dwell (Kevin Scally)<br />

<a name="support"></a>
<h2>HOW DO I CONTACT THE MEDIA GALLERY TEAM FOR SUPPORT OR SUGGESTIONS?</h2>

<p>Media gallery support can be reached by sending an email to <a herf="mailto: gallerieshelp@burningman.com">gallerieshelp@burningman.com</a>.  For support issues, be sure to include as much detail as possible so we can respond as effectively as possible to any issue you may be experiencing.</p>

					<!-- +++++ GENERIC TEXT PAGE ENDS +++++ -->

{% endblock %}
