<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Burning Man Galleries</title>
  </head>

  <body>
    <div id="wrap">
      <div id="image">
        <img src="{{ image.image.url }}" alt="{{ image.title }}"
             title="{{ image.title }}" height="{{ image.height }}"
             width="{{ image.width }}" />
      </div> <!-- end image -->
      <div id="backlink">
        <a href="{% url bm.gallery.views.media_view mediatype=image.mediadir username=image.owner.username slug=image.slug %}{% if query_string %}?{{ query_string }}{% endif %}">Back to site</a>
      </div> <!-- end backlink -->
    </div> <!-- end wrap -->
  </body>
</html>
      
