{% extends "gallery/base.html" %}

{% block content %}

<h1>Password Change</h1>
<form action="" method="post">
  {% csrf_token %}
  {% for field in form.visible_fields %}
  {% if forloop.first %}
  {% for hidden in form.hidden_fields %}
  {{ hidden }}
  {% endfor %}
  {% endif %}
  <p>
    {{ field.errors }}
    {{ field.label_tag }}{% if field.field.required %}*{% endif %}: {{ field }}
  </p>
  {% endfor %}
  <div class="visualClear"><!-- --></div>
  <span class="actionButtons">
    <input type="submit" id="save" name="save" value="Save" class="context" />
    <input type="submit" id="cancel" name="cancel" value="Cancel" class="context" />
  </span>
</form>

{% endblock %}
