<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<title>SignedAuth Explore Form</title>
<style type='text/css'>
table.th, table.td {
text-align: left;
}
input[type="text"] {
width: 400px;
}
</style>
</head>

<body>
<h1>SignedAuth Explore Form</h1>

<form name="explore" action="." method="POST">
<table>
{{ form.as_table }}
<tr>
  <td>&nbsp;</td>
  <td><input type="submit" value="explore" /></td>
</tr>
</table>
</form>

{% if form.signed %}
<h2>Signed Result</h2>
<p><a href="{{ form.signed }}" target="_BLANK">{{ form.signed }}</a></p>
<p>(unsigned referral link) <a href="{{ form.orig }}">{{ form.orig }}</a></p>
{% endif %}

</body>
</html>
